.bottomBanner{
    width: 100%;
    height: 25px;
    background-color: rgb(123, 123, 255);
    margin-bottom: 0%;
    /* text-align: center; */
}

.bottomBanner>span{
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin: 45%;
    /* text-align: center; */
    /* border: 1px solid; */
}

@media only screen and (min-width: 200px) and (max-width: 400px){
    .bottomBanner{
        margin-top: 8%;
    }

    .bottomBanner>span{
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-left: 50%;
        /* border: 1px solid; */
    }
}

@media only screen and (min-width: 400px) and (max-width: 700px){

    .bottomBanner{
        margin-top: 5%;
    }

    .bottomBanner>span{
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-left: 60%;
        /* border: 1px solid; */
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px){
    .bottomBanner>span{
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-left: 75%;
        /* border: 1px solid; */
    }
}