.boxStyle{
    background-color: #efebe9;
    height: auto;
    padding-bottom: 50px;
    border: 1px solid #efebe9;
}

.rightBox{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    /* border: 1px solid; */
    margin: auto;
    padding: 5px;
}

.iconBox{
    width: 10%;
    height: 70px;
    margin-left: 11%;
    margin-top: 5%;
    /* border-radius: 50%; */
    padding: 8px;
    border-radius: 0px;
    background: white;
    box-shadow:  6px 6px 12px #aaa7a5,
                 -6px -6px 12px #ffffff;
}

.img{
    width: 100%;
    height: 100%;
}

.skillsTitle{
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

@media only screen and (min-width: 200px) and (max-width: 700px){
    .iconBox{
        width: 22%;
        height: 70px;
        margin-left: 5%;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px){
    .iconBox{
        width: 18%;
        height: 80px;
        margin-left: 11%;
        margin-top: 5%;
    }
}